{% extends "base.html" %}
{% block content %}

<h3>{{ cls.name }}</h3>

<table class="table table-bordered">
  <tr class="table-dark">
    <th>Student</th>
    <th>Current Grade</th>
    <th>Update Grade</th>
  </tr>

  {% for e in enrollments %}
  <tr>
    <td>{{ e.student.username }}</td>

    <td>{{ e.grade if e.grade else "Not Assigned" }}</td>

    <td>
      <form method="POST" class="d-flex">
        <input type="hidden" name="eid" value="{{ e.id }}">
        <input name="grade" class="form-control me-2" value="{{ e.grade }}">
        <button class="btn btn-primary btn-sm">Save</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}